
/* JOB ITEM */
.job-item .row{
    margin: 0;
    height: 120px;
    border: 1px solid rgb(233, 247, 233);
    padding-top: 10px;
    padding-bottom: 10px;
}
.job-item .row .detail p{
    font-size: 15px;
    margin-top:8px
}
.feature-text {
    background-color: yellow;
    padding: 4px 6px;
    text-align: center;
    width: min-content;
    font-family: -webkit-pictograph;
    border-radius: 20px;
}
/* .job-item .row .feature-text p{
    font-size: 12px;
    color: #6e6e70;
} */
.job-item .row .city_and_posted_date p{
    font-size: 12px;
    color: #6e6e70;
}
.job-item .row .city_and_posted_date div{
    padding-bottom: 18px;
}
.job-item .row .detail a{
    font-size: 13px;
    color: #6e6e70;
}
.job-item .row .detail h1{
    margin-bottom: 20px;
    font-size: 20px;
    color:rgb(139, 192, 59)
}
.job-item .row .detail i{
    margin-bottom: 15px;
}
.text-center p-3{
    background-color: rgba(0, 0, 0, 0.2);}
.label-info {
        background-color: #5bc0de;
        display: inline-block;
        padding: 0.2em 0.6em 0.3em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 0.25em;
}

.nav-tabs {
    position: relative;
}
                        